@model IEnumerable<Ocean2Ocean.DataAccess.Step>
@{
    ViewData["Title"] = "Leaderboard";
}

<script>
    function Share() {
  var Url = document.getElementById("url");
  Url.innerHTML = window.location.href;
  console.log(Url.innerHTML)
  Url.select();
  document.execCommand("copy");
    }
</script>

<div class="container">
    @{
        if (Model != null && Model.Any())
        {
            var players = new Dictionary<string, int>();

            foreach (var entry in Model)
            {
                var checkKey = players.ContainsKey(entry.Email);
                if (checkKey)
                {
                    var player = players[entry.Email];
                    player += entry.Steps;
                    players[entry.Email] = player;
                }
                else
                {
                    players[entry.Email] = entry.Steps;
                }
            }

            var names = players.Keys.ToArray();
            var ranks = players.Values.ToArray();

            <div class="row">
                <div class="col">
                    <h1 class="display-4 pt-3">
                        Leaderboard for @Model?.FirstOrDefault()?.JourneyName
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="alert alert-success mt-3" role="alert">
                        @Model?.FirstOrDefault()?.JourneyName has made it <strong>@Model?.Sum(x => x.Steps).ToString("N0")</strong> steps into its Journey so far!
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-borderless">
                            <tbody>
                                @{
                                    for (int i = 0; i < names.Length; i++)
                                    {
                                        var postion = i + 1;
                                        decimal portion = Decimal.Divide(ranks[i], Model?.Sum(x => x.Steps) ?? 1);
                                        string formattedPortion = (portion * 100M).ToString("N2") + " %";

                                        // First place
                                        if (i == 0)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <strong>@postion 🏆</strong>
                                                </td>
                                                <td>
                                                    @names[i]
                                                </td>
                                                <td>
                                                    @ranks[i] Steps
                                                </td>
                                                <td>
                                                    @formattedPortion
                                                </td>
                                            </tr>
                                        }
                                        else if (i == names.Length - 1)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <strong>@postion 🏳️</strong>
                                                </td>
                                                <td>
                                                    @names[i]
                                                </td>
                                                <td>
                                                    @ranks[i] Steps
                                                </td>
                                                <td>
                                                    @formattedPortion
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <strong>@postion</strong>
                                                </td>
                                                <td>
                                                    @names[i]
                                                </td>
                                                <td>
                                                    @ranks[i] Steps
                                                </td>
                                                <td>
                                                    @formattedPortion
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-primary" href="/@Model?.FirstOrDefault()?.JourneyName">
                        🗺️ Return to the Map
                    </a>
                    @*<button class="btn btn-success" onclick="Share()">
                        🔗 Share This
                    </button>
                    <textarea id="url" rows="1" cols="30" hidden></textarea>*@
                </div>
            </div>
        }
    }
</div>