@model Ocean2Ocean.DataAccess.LeaderboardDetail
@{
    ViewData["Title"] = "Leaderboard";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
    @{
        var graphData = Model?.SumByDay.Take(14).ToArray();
        var commaString = "0, ";
        foreach (var ingest in graphData)
        {
            commaString += $"{ingest.TotalSteps}, ";
        }
        @Html.Raw($"var numbersRetrivedArr = [{commaString.Substring(0, commaString.Length - 2)}];");
      }

    @{
        commaString = $"\"{graphData.FirstOrDefault().SummedDate.AddDays(-1).ToShortDateString()}\", ";
        foreach (var ingest in graphData)
        {
            commaString += $"\"{ingest.SummedDate.ToShortDateString()}\", ";
        }
        @Html.Raw($"var dateArr = [{commaString.Substring(0, commaString.Length - 2)}];");

    }
</script>
<div class="container">
    @{
        if (Model.DailyRankings != null && Model.DailyRankings.Any())
        {
            int dailyGoal = Model.DailyRankings.Count() * 3000;
            <div class="row">
                <div class="col">
                    <h1 class="display-4 pt-3">
                        📅 Daily Contributions for @Model?.DailyRankings?.FirstOrDefault()?.JourneyName
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="alert alert-success mt-3" role="alert">
                        @Model?.DailyRankings.FirstOrDefault()?.JourneyName has added <strong>@Model?.DailyRankings.Sum(x => x.TotalSteps).ToString("N0")</strong> steps to its Journey today! The ⭐ Daily Group Goal is @dailyGoal.ToString("N0") steps.
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-borderless">
                            <tbody>
                                @{
                                    var names = Model?.DailyRankings.ToArray();
                                    for (int i = 0; i < names.Length; i++)
                                    {
                                        var postion = i + 1;
                                        decimal portion = Decimal.Divide(names[i].TotalSteps, names.Sum(x => x.TotalSteps));
                                        string formattedPortion = (portion * 100M).ToString("N2") + " %";

                                        // First place
                                        if (i == 0)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <strong>@postion 🏆</strong>
                                                </td>
                                                <td>
                                                    @names[i].Nickname
                                                </td>
                                                <td>
                                                    @names[i]?.TotalSteps.ToString("N0") Steps
                                                </td>
                                                <td>
                                                    @formattedPortion
                                                </td>
                                            </tr>
                                        }
                                        else if (i == names.Length - 1)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <strong>@postion 🐌</strong>
                                                </td>
                                                <td>
                                                    @names[i].Nickname
                                                </td>
                                                <td>
                                                    @names[i]?.TotalSteps.ToString("N0") Steps
                                                </td>
                                                <td>
                                                    @formattedPortion
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <strong>@postion</strong>
                                                </td>
                                                <td>
                                                    @names[i].Nickname
                                                </td>
                                                <td>
                                                    @names[i]?.TotalSteps.ToString("N0") Steps
                                                </td>
                                                <td>
                                                    @formattedPortion
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                @{
                                    var total = Model.DailyRankings.Sum(x => x.TotalSteps);
                                    if (total > dailyGoal)
                                    {
                                        <tr class="table-success">
                                            <td scope="row">
                                                <strong>Total</strong>
                                            </td>
                                            <td>

                                                @Model.DailyRankings.FirstOrDefault().JourneyName
                                            </td>
                                            <td>
                                                @{
                                                    string formattedTotal = $"⭐ {total.ToString("N0")} Steps";
                                                }
                                                @formattedTotal
                                            </td>
                                            <td>
                                                @{
                                                    decimal completed = Decimal.Divide(total, dailyGoal);
                                                    string formattedCompleted = (completed * 100M).ToString("N2") + " %";
                                                }
                                                @formattedCompleted
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="table-warning">
                                            <td scope="row">
                                                <strong>Total</strong>
                                            </td>
                                            <td>

                                                @Model.DailyRankings.FirstOrDefault().JourneyName
                                            </td>
                                            <td>
                                                @{
                                                    string formattedTotal = $"{total.ToString("N0")} Steps";
                                                }
                                                @formattedTotal
                                            </td>
                                            <td>
                                                @{
                                                    decimal completed = Decimal.Divide(total, dailyGoal);
                                                    string formattedCompleted = (completed * 100M).ToString("N2") + " %";
                                                }
                                                @formattedCompleted
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            if (Model?.DailyRankings.Sum(x => x.TotalSteps) >= dailyGoal)
            {
                <div class="alert alert-warning mt-3" role="alert">
                    🎺 Congrats! 🎉 We've hit our daily step goal! ⭐ Great job team! 👏
                </div>
            }
        }
        else
        {
            <div class="alert alert-warning mt-3" role="alert">
                No steps have been entered today. Please submit your steps now!
            </div>
        }
    }
    @{
        if (Model.JourneyRankings != null && Model.JourneyRankings.Any())
        {
            <div class="row">
                <div class="col">
                    <h1 class="display-4 pt-3">
                        🏋️ Journey Leaderboard for @Model?.JourneyRankings?.FirstOrDefault()?.JourneyName
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="alert alert-success mt-3" role="alert">
                        @Model?.JourneyRankings.FirstOrDefault()?.JourneyName has made it <strong>@Model?.JourneyRankings.Sum(x => x.TotalSteps).ToString("N0")</strong> steps into its Journey so far!
                    </div>
                    <canvas id="myChart" width="400" height="200" class="pb-4"></canvas>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-borderless">
                            <tbody>
                                @{
                                    var names = Model?.JourneyRankings.ToArray();
                                    for (int i = 0; i < names.Length; i++)
                                    {
                                        var postion = i + 1;
                                        decimal portion = Decimal.Divide(names[i].TotalSteps, names.Sum(x => x.TotalSteps));
                                        string formattedPortion = (portion * 100M).ToString("N2") + " %";

                                        // First place
                                        if (i == 0)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <strong>@postion 🏆</strong>
                                                </td>
                                                <td>
                                                    @names[i].Nickname
                                                </td>
                                                <td>
                                                    @names[i].TotalSteps Steps
                                                </td>
                                                <td>
                                                    @formattedPortion
                                                </td>
                                            </tr>
                                        }
                                        else if (i == names.Length - 1)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <strong>@postion 🐌</strong>
                                                </td>
                                                <td>
                                                    @names[i].Nickname
                                                </td>
                                                <td>
                                                    @names[i].TotalSteps Steps
                                                </td>
                                                <td>
                                                    @formattedPortion
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <strong>@postion</strong>
                                                </td>
                                                <td>
                                                    @names[i].Nickname
                                                </td>
                                                <td>
                                                    @names[i].TotalSteps Steps
                                                </td>
                                                <td>
                                                    @formattedPortion
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }
    <a class="btn btn-primary" href="/@Model?.JourneyRankings?.FirstOrDefault()?.JourneyName">
        🗺️ Return to the Map
    </a>
</div>
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dateArr,
            datasets: [{
                label: 'Steps Recorded',
                data: numbersRetrivedArr,
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
</script>